<footer class="center">
  <div class="measure">
    <small>
      Maintained by <a href="http://jle.im">Justin Le</a> (<a
                       href="mailto:jusle@chapman.edu">email</a>), Schmid College of
      Science and Technology at Chapman University<br>
      Theme crafted with &lt;3 by <a href="http://johnotander.com">John
        Otander</a> (<a href="https://twitter.com/4lpine">@4lpine</a>); &lt;/&gt; available on <a href="https://github.com/johnotander/pixyll">Github</a>.
    </small>
  </div>
</footer>
